html,
body {
 padding: 0;
}

body {
 font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif; 
 color: black;
 background: url(../img/landscape.jpg) no-repeat center center fixed;
 background-size: cover;
}

.container {
 position: relative;
 top: 100px;
 margin-bottom: 100px;
}

h1 {
 font-family: "HelveticaNeue-UltraLight", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
 font-size: 90px;
 font-weight: normal;
 margin: 0;
 text-align: center;
}

h2 {
 border-top: 1px solid #211f1e ;
 font-size: 20px;
 font-weight: bold;
 margin: 10px 0 40px 0;
 padding: 30px 0 0 0;
 text-align: center;
}

.margins {
	padding: 0;
}
.day{
 border: 1px solid black;
 margin: auto;
 padding-bottom:5px;
 position: relative;
 display: inline-block;
}

.day > div {
 font-weight: bold;
 line-height: 45px;
}

.weekday span {
 font-size: 16px;
 font-weight: bold;
}

.weekday,
.weather,
.high,
.low {
	padding: 0;
	text-align: center;
}

.weekday p {
 display: inline-block;
 font-size: 16px;
 font-weight: bold;
}

.weather img {
 width: 48px;
}

.weather p {
	font-size: 14px;
	margin-bottom: 0px;
}

.high p,
.low p,
.hourly .temp {
 font-size: 14px;
}

.hourly {
 text-align: center;
 display: none;
}

.hourly .hour {
 font-weight: bold;
 font-size: 14px;
}

.hourly img {
 width: 24px;
}

.hourly p {
 margin: 16px 0;
}

.last {
 margin-bottom: 100px;
}
